#nav{
    font-size: 30px;
    border-radius: 3px;
    margin-top: 20px;
}
#one{
    list-style: none;
    margin-left: 10px;
}
.two{
    display: inline;
    margin-right: 50px;
}
.three{
    text-decoration: none;
    color: blue;
    margin-left: 10px;
    border: 2px solid ;
    border-radius: 10px;
    padding: 10px;
}
.three:hover{
    color: white;
    background-color: blue;
}
.three:active{
    color: turquoise;
}
@media screen and (max-width: 959px){
    .three{
        width:50%;
        margin:10px;

    }
    .two{
        display: block;
    }
    #nav{
        width: 10%;
        margin: 10px;
    }
}
          
